/* Estilos Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: arial, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 3px solid #B8860B;
    padding: 10px 30px;
    color: #B8860B;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

.btn.btn-preto:hover {
    color: #000;
    border-color: #000;
}

.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.subtitulo-interno {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px 0;
}


/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    /* Amarelo */
    padding: 15px 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
    padding-top: 20px;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #FFF;
}

.header_menu ul li a.menu_ativo {
    color: #B8860B;
}


/* Introdução */

.introducao {
    width: 100%;
    height: 380px;
    background: url("../imagem/background-03.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}


/*Introducao Interna*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.introducao-interna h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 10px auto;
}


/*Planos de Saude*/

.planos {
    width: 100%;
    background: #000;
    padding: 40px 0;
    margin: 0 auto;
    border-top: 3px solid #B8860B;
}

.planos_lista li {
    background: #B8860B;
    text-align: center;
}

.planos_lista li img {
    margin: 0 auto
}

.planos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.planos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.planos_lista li p {
    padding: 10px 20px 20px 20px;
}

.planos_icone {
    background: #fff;
    padding: 0px;
}

.planos .call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.planos .call p,
.adesao .call p,
.sobre-definicao p {
    margin-bottom: 20px;
}

.planos .call p,
.adesao .call p {
    color: #fff;
}

.adesao .call {
    text-align: center;
    clear: both;
}

.sobre-definicao .call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}


/*Sobre*/

.sobre {
    padding: 50px 0;
}

.sobre p {
    color: #000;
    text-align: center;
    width: 431px;
    margin: 0 auto;
}

.sobre .definicao {
    color: #fff;
}

.sobre h3 {
    color: #B8860B;
}

.sobre:after {
    content: "";
    width: 680px;
    height: 162px;
    display: block;
    position: absolute;
    top: 318px;
    right: 140px;
    z-index: -1;
}

.sobre img {
    margin: 60px auto;
    width: 220px;
}

.sobre-definicao {
    background: #000;
    padding: 0px 0px 50px 0px;
}

.sobre-definicao img {
    margin: 60px auto;
    width: 220px;
}

.sobre-definicao p {
    color: #fff;
}

.sobre_lista {
    padding-top: 5px;
    overflow: auto;
    /* clear-fix */
}

.sobre_lista li {
    text-align: center;
    padding: 0 40px;
}

.sobre_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
    color: #B8860B;
}

.sobre_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #B8860B;
    margin: 6px auto;
}


/*Quebra*/

.quebra {
    width: 100%;
    height: 220px;
    background: url("../imagem/img-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra .quote-externo {
    max-width: 400px;
}


/*Footer*/

.footer {
    width: 100%;
    background: #B8860B;
    color: #000;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid #000;
    display: block;
    padding: 10px;
}

.footer_redes ul li a:hover {
    border-color: #fff;
}

.copy {
    width: 100%;
    background: #000;
    color: #B8860B;
    padding: 20px 0;
}

.copy a {
    color: #fff;
    text-decoration: none;
}


/*JAVASCRIPT*/

.js [data-slide] {
    position: relative;
}

.js [data-slide]>* {
    position: absolute;
    top: 0px;
    opacity: 0;
}

.js [data-slide]>.active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}

.js [data-slide-nav] button.active {
    background: #B8860B;
}

.js [data-anime] {
    opacity: 0;
}

.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

.nao-aparece {
    visibility: hidden;
    position: absolute;
    height: 0px;
}

#form-sucesso {
    color: #31aa39;
}

#form-erro {
    color: #f64540;
}
