/*Estilo para tablets*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
    /*SOBRE Home*/
    .sobre p {
        color: #000;
        text-align: center;
        width: 348px;
    }
    .sobre:after {
        right: 66px;
    }
    .sobre_lista li {
        padding: 0 10px;
    }
    /*Footer*/
    .footer_redes ul li a {
        border: 3px solid #000;
        display: block;
        padding: 6px;
    }
    .footer_redes ul li a img {
        width: 26px;
        height: 26px;
    }
}


/*Estilo para smartphone*/

@media only screen and (max-width: 787px) {
    /*Header*/
    .header {
        position: relative;
        /*padding: 10px;*/
        background: #000;
    }
    .header img {
        margin: 0 auto 10px auto;
        width: 90px;
    }
    .header_menu {
        text-align: center;
        padding: 0px;
    }
    .header_menu ul li {
        margin: 5px;
    }
    .header_menu ul li a {
        color: #fff;
        display: block;
        float: left;
    }
    .header_menu ul li a:hover {
        color: #B8860B;
    }
    .header_menu ul li a:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: #B8860B;
        /*margin: 14px auto 10px auto;*/
    }
    /*Introducao*/
    .introducao h1 {
        font-size: 25px;
        margin-top: 43px;
    }
    .introducao {
        margin-top: 0px;
        padding-top: 40px;
        background: url("../imagem/background-03.jpg") no-repeat center;
        background-size: cover;
    }
    /*Introdução Interna*/
    .introducao-interna {
        margin-top: 0px;
    }
    /*Introdução Interna*/
    .introducao-interna {
        margin-top: 0px;
    }
    .introducao-interna .intro {
        padding-top: 0px;
    }
    /*Call*/
    .call {
        padding-top: 10px;
    }
    /*sobre Home*/
    .sobre:after {
        display: none;
    }
    /*Sobre*/
    .sobre p {
        color: #000;
        text-align: center;
        width: 302px;
    }
    .missao_sobre p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
    .missao_sobre ul li {
        font-size: 14px;
        line-height: 25px;
    }
    .form {
        padding-right: 0px;
    }
    .orcamento_dados ul {
        padding-right: 0px;
    }
    /*Contato*/
    .contato_form {
        padding-right: 0px;
        margin-bottom: 40px;
    }
    /*menu hambuguer*/
    .header_menu {
        position: absolute;
        top: 204%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: .1s;
    }
    .header_imagem img {
        float: right;
    }
    .header_menu ul li a:after {
        content: "";
        display: none;
        width: 60px;
        height: 3px;
        background: #B8860B;
    }
    .header_menu.active {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
    .header_menu ul {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-top: 137px
    }
    .header_menu ul li {
        list-style: none;
        margin-top: 50px;
    }
    .header_menu li a {
        color: #fff;
        font-size: 1.125em;
        text-decoration: none;
        transition: .1s;
        margin: -44px auto;
        margin-bottom: 25px;
    }
    .header_menu li a:hover {
        color: #000;
    }
    .menu-hamburguer {
        padding: 28px 26px;
        max-width: 30px;
        cursor: pointer;
        position: relative;
    }
    .menu-hamburguer.active .span-hamburguer {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5rem;
        transition: all .5s ease-in-out;
        z-index: 1;
    }
    .span-hamburguer {
        content: '';
        display: block;
        width: 22px;
        height: 3px;
        background-color: rgb(184, 134, 11);
        position: absolute;
        bottom: 14px;
        right: -11px;
        border-radius: 5rem;
        transition: all .5s ease-in-out;
    }
    .span-hamburguer:before {
        content: '';
        display: block;
        width: 32px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 10px;
        border-radius: 5rem;
        transition: all .5s ease-in-out;
    }
    .span-hamburguer:after {
        content: '';
        display: block;
        width: 32px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 10px;
        border-radius: 5rem;
        transition: all .5s ease-in-out;
    }
    .menu-hamburguer.active .span-hamburguer::before {
        bottom: -1px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 48vw rgb(0, 0, 0), 0 0 0 73vh rgb(0, 0, 0);
        border-radius: 5rem;
    }
    .menu-hamburguer.active .span-hamburguer::after {
        top: 4px;
        transform: rotate(-45deg);
        border-radius: 5rem;
        z-index: 1;
    }
}